@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap");

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* General CSS */
.body {
  background: #e5e5e5;
}

.header {
  background: #fff9f4;
}

.heading {
  font-family: "Bebas Neue", cursive;
  word-spacing: 2px;
}

.medium-margin-bottom {
  margin-bottom: 50px;
}

.large-margin-bottom {
  margin-bottom: 130px;
}

.icon {
  width: 24px;
  height: 24px;
}

.buy-now-button {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Hero CSS */

.hero-heading-color {
  color: #fa804c;
}

/* Casual shoes section  */
.card-image {
  margin: 20px;
  background: #e5e5e5;
  border-radius: 15px;
}

.price {
  color: #fa804c;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
